/* colors */
:root {
    --primary: #F8BBD0;
    --secondary: #E91E63;
    --title: #C2185B;
}

/* layout styles */
nav {
    background: var(--primary);
    border-bottom: 10px solid var(--secondary);
}

nav a {
    text-transform: uppercase;
    color: var(--title);
}

nav a span {
    font-weight: bold;
}

nav .sidenav-trigger {
    margin: 0;
    color: var(--title);
}

/* coffee styles */
.coffees {
    margin-top: 20px;
}

.card-panel.coffee {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas: "image details delete";
    position: relative;
}

.coffee img {
    grid-area: image;
    max-width: 60px;
}

.coffee-details {
    grid-area: details;
    margin-top: 6px;
}

.coffee-delete {
    grid-area: delete;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.coffee-delete i {
    font-size: 18px;
}

.coffee-title {
    font-weight: bold;
}

.coffee-ingredients {
    font-size: 0.8em;
}

/* form-styles */
.add-btn {
    background: var(--title) !important;
}

input {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.side-form button {
    background: var(--title);
    box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
}

form .input-field {
    margin-top: 30px;
}

/* fallback btn */
.btn-small {
    background: var(--title) !important;
}